{% extends "base.html.twig" %}
{% block title %}
	ajout d'une adresse
{% endblock %}

{% block content %}
	<h1 class="text-center text-primary text-uppercase">ajouter mes adresses
	</h1>
	<div class="container">
		{{form_start(form)}}
		{{form_row(form.adresse)}}
		{{form_row(form.number_of_street)}}
		{{form_row(form.name_of_street)}}
		{{form_row(form.typeOfWay)}}
		{{form_row(form.PostalCode)}}
		{{form_row(form.city)}}
		{{form_row(form.Department)}}
		{{form_row(form.Region)}}


		{# {{ encore_entry_script_tags('geoApi') }} #}
		{{form_end(form)}}
	</div>

{% endblock %}
