{% extends 'base.html.twig' %}

{% block title %}Mon profil {% endblock %}

{% block content %}

{# {% for message in app.flashes('success') %}
    <div class="flash-success">
        <div class="alert alert-success" role="alert">
          {{message}}
        </div>
    </div>   
{% endfor %} #}
<h1 class="text-center text-secondary text-uppercase mt-3 mb-5 ">
Mes informations personnelles 
</h1>


<div class="container">
<div class="row">
 <div class="col-xs-12 col-md-6 mt-2">
 <h3 class="text-dark text-center text-uppercase mb-2">
 Mon profil
 </h3>
 {% if profilRepository is not null  %}
 <div class="container d-flex flex-column align-items-center mt-2">
 
 <img src="{{asset("/uploads/profils/" ~ profilRepository.pictureProfil )}}" alt="" height ="200px" width="200px" class="rounded-circle border border-2 border-dark">
 
  <p class="text-primary"><i class="fa-solid fa-mobile display-6"></i> <span class=" mx-2 text-black fs-5">
  0{{profilRepository.phone}} , {{ profilRepository.country }}
  </span></p>
  
 </div>
 
 
 {% else %}
 
{{ form_start(form , {'attr' : {'enctype' : 'multipart/form-data'}}) }}
{# <form action="" method="post" enctype="multipart/form-data"> #}
<main id="main">
{# <label for="file_upload_input" class="label-file">Choisir son image de profil</label>
<input type="file" name="file_upload_input"  class="input-file" accept="image/jpeg ,image/png ,image/gif" id="file_upload_input"> #}
{{ form_row(form.pictureProfil) }}
</main>
<label for="age" class="form-label mt-2 mb-2">Mon âge</label>
<select class="form-select" aria-label="Default select example" name="age">
  <option selected>Age : </option>
{% for i in 18..100 %}
  <option value="{{i}}">{{i}}</option>
{% endfor %}
</select>
{# <label for="phone" class="form-label mt-3" require>Numéro de téléphone : </label>
<input type="tel" name="phone" id="phone" class="form-control">
<button type="submit" class="btn btn-outline-success mt-3">valider</button> #}

{{ form_end(form) }}
 
 {% endif %}
 </div>
 <div class="col-xs-12 col-md-6 d-flex flex-column align-items-right gap-2">
 <h3 class="text-dark text-center text-uppercase mt-2">
 mes infos de connexion
 </h3>
<h4 class="text-secondary text-right text-capitalize fs-5" id="champEmail">
mon email: <span class="text-dark mx-2 text-lowercase fs-6">{{app.user.email}}</span>
</h4>
<h4 class="text-secondary text-right text-capitalize fs-5" >
pseudo : <span class="text-dark mx-2 text-lowercase fs-6">{{app.user.username}}</span>
</h4>
<h4 class="text-secondary text-right text-capitalize fs-5" >
prénom : <span class="text-dark mx-2 text-lowercase fs-6">{{app.user.firstname}}</span>
</h4>
<h4 class="text-secondary text-right text-capitalize fs-5" >
nom de famille : <span class="text-dark mx-2 text-lowercase fs-6">{{app.user.lastname}}</span>
</h4>
 <a href="#" class="text-info text-decoration-none ">Editer mon mot de passe</a>
 <a href="#" class="text-info text-decoration-none">Editer mon email</a>
 <a href="#" class="text-info text-decoration-none">Editer mes infos personnelles</a>
 <button class="btn btn-outline-info" >Ajouter une adresse</button>
 </div>
</div>
</div>
       
{% endblock %}
